---
import Layout from "../layouts/Layout.astro";

let posts = [
  ...(await Astro.glob("./posts/*.md")),
  ...(await Astro.glob("./posts/*.mdx")),
];
posts = posts.sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);
---

<Layout
  title="Blog | Stefan Asandei"
  description="This is my programming related blog."
  permalink="stefan-asandei.cf/blog"
>
  <main>
    <h1>Blog articles</h1>
    <p>
      I write articles about programming for fun, you can check them out here!
    </p>

    <div>
      {
        posts.map((post) =>
          post.frontmatter.wip != true ? (
            <div style="top-bottom: 1rem; margin-top: 2rem; border-top: 4px dotted var(--lavender)">
              <p style="margin-bottom: 0;">{post.frontmatter.publishDate}</p>
              <a href={post.url}>
                <h2 style="margin-top: 0; margin-bottom: 0; font-size: 2rem;">
                  {post.frontmatter.title}
                </h2>
              </a>
              <p>
                {post.frontmatter.description} <a href={post.url}> read more</a>
              </p>
            </div>
          ) : (
            <> </>
          )
        )
      }
    </div>
  </main>
</Layout>

<style></style>
